.idea
build
.gradle
bin
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.iml
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
!gradle-wrapper.jar

todo-js/node_modules/*
todo-js/.awcache
todo-js/.jest
todo-js/dev/db/*
todo-js/test-report.xml

todo-proxy/src/main/resources/static/
todo-proxy/src/main/resources/templates/index.html
todo-proxy/build
todo-proxy/out

\.settings/

node_modules/

.vscode
.classpath
.project
